@import "../styleguide/global.css";

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--surface);
}

.main-container {
    width: 90%;
    margin: auto;
    flex: 1;
    padding: 20px 0;
}

@media only screen and (min-width: 600px) {
    .main-container {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    .main-container {
        width: 70%;
    }
}

@media only screen and (min-width: 2000px) {
    .main-container {
        width: 50%;
    }
}
