@import "../styleguide/global.css";

/* Define base spacer */
:host {
    display: inline-block;
    width: var(--horizontal, 0px);
    height: var(--vertical, 0px);
}

/* Define spacer sizes */
:host(.h-4) {
    --horizontal: 4px;
    --vertical: 0px;
}

:host(.h-8) {
    --horizontal: 8px;
    --vertical: 0px;
}

:host(.h-12) {
    --horizontal: 12px;
    --vertical: 0px;
}

:host(.h-16) {
    --horizontal: 16px;
    --vertical: 0px;
}

:host(.h-24) {
    --horizontal: 24px;
    --vertical: 0px;
}

:host(.h-32) {
    --horizontal: 32px;
    --vertical: 0px;
}

:host(.h-48) {
    --horizontal: 48px;
    --vertical: 0px;
}

:host(.h-64) {
    --horizontal: 64px;
    --vertical: 0px;
}

:host(.v-4) {
    --horizontal: 0px;
    --vertical: 4px;
}

:host(.v-8) {
    --horizontal: 0px;
    --vertical: 8px;
}

:host(.v-12) {
    --horizontal: 0px;
    --vertical: 12px;
}

:host(.v-16) {
    --horizontal: 0px;
    --vertical: 16px;
}

:host(.v-24) {
    --horizontal: 0px;
    --vertical: 24px;
}

:host(.v-32) {
    --horizontal: 0px;
    --vertical: 32px;
}

:host(.v-48) {
    --horizontal: 0px;
    --vertical: 48px;
}

:host(.v-64) {
    --horizontal: 0px;
    --vertical: 64px;
}
