@import "../styleguide/global.css";

/* Define color variables */
:host {
    display: var(--text-display, block);
    color: var(--content-color, --on-surface);
}

/* Define the text style */
.body-small {
    display: inherit;
    color: inherit;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1rem;

    margin: 0;
    padding: 0;
}
