<!doctype html>
<html lang="{{languageCode}}">
    <head>
        <title>{{translations.badges.title}}</title>
        <link rel="stylesheet" href="stylesheets/global.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="components/badge.js"></script>
        <script src="components/body-large.js"></script>
        <script src="components/body-medium.js"></script>
        <script src="components/body-small.js"></script>
        <script src="components/headline-large.js"></script>
        <script src="components/headline-medium.js"></script>
        <script src="components/main-container.js"></script>
        <script src="components/spacer.js"></script>
    </head>

    <body>
        <main-container>
            <headline-large>{{translations.badges.title}}</headline-large>
            <default-spacer size-class="v-32"></default-spacer>
            <body-large>{{translations.badges.description}}</body-large>
            <default-spacer size-class="v-64"></default-spacer>

            <headline-medium>
                {{translations.badges.default.title}}
            </headline-medium>
            <default-spacer size-class="v-32"></default-spacer>
            <body-medium>
                {{translations.badges.default.description}}
            </body-medium>
            <default-spacer size-class="v-48"></default-spacer>

            <default-badge>
                <body-small>{{translations.global.default}}</body-small>
            </default-badge>

            <default-spacer size-class="v-48"></default-spacer>
            <headline-medium>
                {{translations.badges.styled.title}}
            </headline-medium>
            <default-spacer size-class="v-32"></default-spacer>
            <body-medium>
                {{translations.badges.styled.description}}
            </body-medium>
            <default-spacer size-class="v-48"></default-spacer>

            <default-badge style="primary">
                <body-small>{{translations.global.primary}}</body-small>
            </default-badge>
            <default-spacer size-class="v-24"></default-spacer>
            <default-badge style="secondary">
                <body-small>{{translations.global.secondary}}</body-small>
            </default-badge>
            <default-spacer size-class="v-24"></default-spacer>
            <default-badge style="tertiary">
                <body-small>{{translations.global.tertiary}}</body-small>
            </default-badge>

            <default-spacer size-class="v-64"></default-spacer>
        </main-container>
    </body>
</html>
