<!doctype html>
<html lang="{{languageCode}}">
    <head>
        <title>{{translations.icons.title}}</title>
        <link rel="stylesheet" href="stylesheets/icons.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />

        <script src="components/icon.js"></script>
        <script src="components/body-large.js"></script>
        <script src="components/body-medium.js"></script>
        <script src="components/headline-large.js"></script>
        <script src="components/headline-medium.js"></script>
        <script src="components/headline-small.js"></script>
        <script src="components/main-container.js"></script>
        <script src="components/spacer.js"></script>
    </head>

    <body>
        <main-container>
            <headline-large>{{translations.icons.title}}</headline-large>
            <default-spacer size-class="v-32"></default-spacer>
            <body-large>{{translations.icons.description}}</body-large>
            <default-spacer size-class="v-64"></default-spacer>

            <headline-medium>
                {{translations.icons.default.title}}
            </headline-medium>
            <default-spacer size-class="v-32"></default-spacer>
            <body-medium>
                {{translations.icons.default.description}}
            </body-medium>

            <default-spacer size-class="v-48"></default-spacer>

            <default-icon
                icon="code"
                type="round"
                hover-disabled="true"
            ></default-icon>
            <default-spacer size-class="v-24"></default-spacer>
            <headline-small>{{translations.global.primary}}</headline-small>
            <default-spacer size-class="v-16"></default-spacer>
            <default-icon
                icon="code"
                style="primary"
                hover-disabled="true"
            ></default-icon>
            <default-spacer size-class="v-24"></default-spacer>
            <headline-small>{{translations.global.secondary}}</headline-small>
            <default-spacer size-class="v-16"></default-spacer>
            <default-icon
                icon="code"
                style="secondary"
                hover-disabled="true"
            ></default-icon>
            <default-spacer size-class="v-24"></default-spacer>
            <headline-small>{{translations.global.tertiary}}</headline-small>
            <default-spacer size-class="v-16"></default-spacer>
            <default-icon
                icon="code"
                style="tertiary"
                hover-disabled="true"
            ></default-icon>

            <default-spacer size-class="v-48"></default-spacer>

            <headline-medium>
                {{translations.icons.round.title}}
            </headline-medium>
            <default-spacer size-class="v-32"></default-spacer>
            <body-medium>
                {{translations.icons.round.description}}
            </body-medium>
            <default-spacer size-class="v-32"></default-spacer>

            {{#translations.global.colors}}
            <headline-small>{{name}}</headline-small>
            <default-spacer size-class="v-16"></default-spacer>
            <div class="icon-row">
                <default-icon
                    type="round"
                    icon="code"
                    icon-padding="8px"
                    style="{{nameLowercase}}"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="round"
                    icon="code"
                    style="{{nameLowercase}}"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="round"
                    icon="code"
                    icon-size="16px"
                    icon-padding="8px"
                    style="{{nameLowercase}}"
                ></default-icon>
            </div>
            <default-spacer size-class="v-8"></default-spacer>
            <div class="icon-row">
                <default-icon
                    type="round"
                    icon="code"
                    icon-padding="8px"
                    style="{{nameLowercase}}-inverted"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="round"
                    icon="code"
                    style="{{nameLowercase}}-inverted"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="round"
                    icon="code"
                    icon-size="16px"
                    icon-padding="8px"
                    style="{{nameLowercase}}-inverted"
                ></default-icon>
            </div>
            <default-spacer size-class="v-24"></default-spacer>
            {{/translations.global.colors}}

            <default-spacer size-class="v-24"></default-spacer>

            <headline-medium>
                {{translations.icons.roundedSquare.title}}
            </headline-medium>
            <default-spacer size-class="v-32"></default-spacer>
            <body-medium>
                {{translations.icons.roundedSquare.description}}
            </body-medium>
            <default-spacer size-class="v-32"></default-spacer>

            {{#translations.global.colors}}
            <headline-small>{{name}}</headline-small>
            <default-spacer size-class="v-16"></default-spacer>
            <div class="icon-row">
                <default-icon
                    type="rounded-square"
                    icon="code"
                    icon-padding="8px"
                    style="{{nameLowercase}}"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="rounded-square"
                    icon="code"
                    style="{{nameLowercase}}"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="rounded-square"
                    icon="code"
                    icon-size="16px"
                    icon-padding="8px"
                    style="{{nameLowercase}}"
                ></default-icon>
            </div>
            <default-spacer size-class="v-8"></default-spacer>
            <div class="icon-row">
                <default-icon
                    type="rounded-square"
                    icon="code"
                    icon-padding="8px"
                    style="{{nameLowercase}}-inverted"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="rounded-square"
                    icon="code"
                    style="{{nameLowercase}}-inverted"
                ></default-icon>
                <default-spacer size-class="h-8"></default-spacer>
                <default-icon
                    type="rounded-square"
                    icon="code"
                    icon-size="16px"
                    icon-padding="8px"
                    style="{{nameLowercase}}-inverted"
                ></default-icon>
            </div>
            <default-spacer size-class="v-24"></default-spacer>
            {{/translations.global.colors}}

            <default-spacer size-class="v-24"></default-spacer>

            <default-spacer size-class="v-64"></default-spacer>
        </main-container>
    </body>
</html>
